body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, 'sans-serif';
    text-align: center;
    background: lightgrey;
}

.messages {
    background: white;
    width: 60%;
    height: 69.4vh;
    margin: 40px auto;
    padding: 10px;
    border-radius: 20px;
    font-style: italic;
    font-size: 19px;
}

.messages li {
    margin-top: 30px;
}

footer {
    background: #363636;
    color: white; 
    padding: 34px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-buttons { display: inline-block; }

.footer-buttons a {
    text-decoration: none;
    background: orange;
    color: white;
    padding: 6px 20px;
    border-radius: 5px;
}

.footer-buttons a:hover {
    text-decoration: none;
    background: #4aad4a;
    color: white;
}

/* Media Queries */

@media (max-width: 791px) {
    
    .messages { width: 80%; }
    
    .footer-buttons { padding: 12px 0px; }
    
}